# Adapted from the following post:
# https://medium.com/swlh/publish-a-static-website-in-a-day-with-mkdocs-and-netlify-3cc076d0efaf

[build]
publish = "site"
command = """
pip3 install --upgrade pip
pip3 install -r requirements.txt &&
mkdocs build -d site
"""