.logo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section_padding {
    padding: 2rem 0;
}

.community_title {
    padding-bottom: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}

.logo_image {
    display: flex;
    align-items: center;
    gap: 4rem;
    padding: 0 2rem;
}
.ind_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: max-content;
}

.ind_logo img {
    height: auto;
    object-fit: contain;
}
@media screen and (max-width: 650px) {
    .section_padding {
        padding: 2rem;
    }
}

@media screen and (max-width: 490px) {
    .section_padding {
        padding: 2rem;
    }
}